<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="msvalidate.01" content="C48D7007932689E9428166D439B8120D" />
<meta name="sogou_site_verification" content="zBCUUVWmQP"/>

<title>{{ page.title }}</title>
<!-- link to stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!-- favicon -->
<link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
{% if page.use_math %}
	{% include mathjax.html %}
{% endif %}

{% include baidu-tongji.html %}