<div class="post-navigation">
	<div class="nav-next">
	{% if page.next %}
	  <a class="post-nav-link" href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">
			<i class="fas fa-angle-left"></i> 
			{{ page.next.title }}
	  </a>
	{% else%}
	  <span></span> 
	{% endif %}
	</div>

	<div class="nav-previous">
	{% if page.previous %}
	  <a class="post-nav-link" href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">
		{{ page.previous.title }} 
		<i class="fas fa-angle-right"></i>
	  </a>
	{% else %}
	  <span></span> 
	{% endif %}
	</div>
</div>